* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../gilroy/Gilroy-SemiBoldItalic.ttf") format("truetype");
}

p {
  font-family: 'Gilroy';
}

body {
  background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
}

.container {
  width: 85%;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

h4 {
  display: inline-block;
}

.header {
  height: 100vh;
  height: 87vh;
  color: #fff;
}

.header #logo {
  -webkit-animation: hover 4s infinite;
          animation: hover 4s infinite;
}

@-webkit-keyframes hover {
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  from {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes hover {
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  from {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.header .navbar-full {
  background-color: #3B1D60;
}

.header .navbar-full .navbar {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  list-style: none;
}

.header .navbar-full .navbar .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar-full .navbar .nav-right .language {
  font-size: 12px;
  padding-right: 20px;
}

.header .navbar-full .navbar .nav-right .language .lan-uz {
  padding-right: 10px;
  border-right: 1px solid #fff;
}

.header .navbar-full .navbar .nav-right .language .lan-en {
  padding-left: 8px;
}

.header .navbar-full .navbar .nav-right .language a {
  color: #fff;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.header .navbar-full .navbar .nav-right .language a:hover {
  color: #F2994A !important;
}

.header .navbar-full .navbar .nav-right .buttons {
  font-size: 12px;
}

.header .navbar-full .navbar .nav-right .buttons .btn {
  padding: 6px 15px;
  background-color: #F2994A;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.header .navbar-full .navbar .nav-right .buttons .btn:hover {
  border: 1px solid #F2994A;
  background-color: transparent;
  color: #F2994A;
}

@-webkit-keyframes click {
  from {
    -webkit-transform: translate(0, 4px);
            transform: translate(0, 4px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes click {
  from {
    -webkit-transform: translate(0, 4px);
            transform: translate(0, 4px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

.header .navbar-full .navbar .nav-right .buttons .btn:focus {
  -webkit-animation: click 0.1s forwards;
          animation: click 0.1s forwards;
}

.header .navbar-full .navbar .nav-right .buttons .sign-in {
  margin-right: 20px;
}

.header .navbar-full .navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar-full .navbar .logo img {
  width: 60%;
  height: 60%;
}

.header .navbar-full .navbar h1 {
  font-size: 25px;
  margin-left: 5px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  color: #fff;
}

.header .navbar-full .navbar h1:hover {
  color: #F2994A;
}

.header .navbar-full .navbar ul {
  margin-left: 300px;
}

.header .navbar-full .navbar ul li {
  display: inline-block;
  margin-right: 20px;
}

.header .navbar-full .navbar ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.header .navbar-full .navbar ul li a:hover {
  color: #F2994A !important;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .content_information {
  width: 85%;
  margin: auto;
  margin-left: 7rem;
  margin-top: 5rem;
}

.content .content_information h1 {
  width: 90%;
  line-height: 45px;
  font-size: 44px;
  font-family: 'Oxygen', sans-serif;
  color: #99EFD0;
  font-weight: bold;
}

.content .content_information p {
  width: 40%;
  margin-top: 0.7rem;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  color: #8476AA;
}

.content .content_information #input {
  background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
  border: 1px solid #F2994A;
  margin-top: 2rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: #99EFD0;
  outline: none;
}

.content .content_information .btn_get {
  background: #F2994A;
  -webkit-box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
          box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #F2994A;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content .content_information .btn_get i {
  margin-left: 5px;
}

.content .content_information .btn_get:hover {
  border: 1px solid #F2994A;
  background-color: transparent;
  color: #F2994A;
}

.content .content_img {
  width: 100%;
}

.content .content_img img {
  width: 90%;
  margin-left: 3rem;
  margin-top: 2rem;
}

.blok {
  width: 100%;
}

.blok .blok-h1 {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.blok .blok-box .blok-box-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.blok .blok-box .blok-box-blog .blok-blog-1 {
  width: 380px;
  height: 380px;
  overflow: hidden;
  border-radius: 20px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
}

.blok .blok-box .blok-box-blog .blok-blog-1 img {
  width: 380px;
  height: 380px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
  opacity: 0.8;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.blok .blok-box .blok-box-blog .blok-blog-1 img:hover {
  opacity: 1;
  width: 400px;
  height: 400px;
}

.blok .blok-box .blok-box-blog .blok-blog-2 {
  padding-top: 70px;
  margin-left: 10%;
  width: 30%;
}

.blok .blok-box .blok-box-blog .blok-blog-2 .blok-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.blok .blok-box .blok-box-blog .blok-blog-2 .blok-title img {
  width: 40px;
}

.blok .blok-box .blok-box-blog .blok-blog-2 .blok-title h1 {
  margin-left: 15px;
  font-size: 50px;
  color: #fff;
  border-bottom: 5px solid #787774;
}

.blok .blok-box .blok-box-blog .blok-blog-2 .link-click {
  width: 90%;
  margin-bottom: 15px;
}

.blok .blok-box .blok-box-blog .blok-blog-2 .link-click span {
  color: #787774;
  font-size: 20px;
}

.blok .blok-box .blok-box-blog .blok-blog-2 a {
  display: inline-block;
  padding: 5px;
  background-color: transparent;
  border-radius: 5px;
}

.blok .blok-box .blok-box-blog .blok-blog-2 a:hover {
  background-color: #131177;
}

.blok .blok-box .blok-box-blog .blok-blog-2 .text-p {
  margin-top: 15px;
  font-size: 20px;
  width: 90%;
  color: #fff;
  border-left: 4px solid #99EFD0;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.blok .blok-box .blok-box-blog .blok-blog-3 {
  width: 40%;
  padding-right: 10%;
}

.network {
  display: none;
}

.footer_container {
  background: #070C11;
  opacity: 0.95;
  height: 20rem;
}

.footer_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding-top: 6rem;
}

.footer_part .footer_part_of {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_part .footer_part_of .information {
  padding-left: 5rem;
  white-space: nowrap;
}

.footer_part .footer_part_of .information .network_link i {
  margin-right: 15px;
  font-size: 23px;
  color: #F2994A;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer_part .footer_part_of .information .network_link i:hover {
  color: #99EFD0;
}

.footer_part .footer_part_of .information a {
  color: rgba(255, 255, 255, 0.7);
}

.footer_part .footer_part_of .information h3 {
  color: #99EFD0;
}

.footer_part .footer_part_of .information #footer_part_input {
  margin-top: 8px;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  color: #99EFD0;
  outline: none;
}

.footer_part .footer_part_of .information ul li {
  padding-top: 12px;
  list-style-type: none;
}

.footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_part_of {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button_my {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #F2994A;
  border-radius: 10px;
  padding-bottom: 6px;
  margin-top: 1rem;
}

.button_my input {
  border: none;
  background-color: transparent;
}

.button_my .btn_icon {
  background-color: #F2994A;
  padding: 0.4rem 1rem;
  margin-right: 0.4rem;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button_my .btn_icon:hover {
  background-color: #99EFD0;
}

.network_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 5s all linear !important;
  transition: 5s all linear !important;
}

.network_link li p {
  -webkit-transition: .5s !important;
  transition: .5s !important;
}

.network_link li:hover .network {
  display: block;
  color: white;
}

.logo_part {
  width: 50px;
}

.Ilmhub {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 5px;
  color: #fff;
}

.footer_p {
  width: 65%;
  margin-top: 20px;
  color: #99EFD0;
}

.teg-ol {
  border-left: 4px solid #99EFD0;
  padding: 10px 0;
  padding-left: 35px;
}

.teg-ol li {
  font-size: 20px;
  color: #fff;
  font-family: 'Gilroy';
}

.teg-ul {
  border-left: 4px solid #99EFD0;
  padding: 10px 0;
  padding-left: 15px;
  list-style: none;
}

.teg-ul li {
  font-size: 20px;
  color: #fff;
  font-family: 'Gilroy';
  padding-bottom: 10px;
  padding-bottom: 5px;
  font-weight: 900;
}

.teg-ul p {
  font-size: 20px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 100 !important;
  display: none;
}
/*# sourceMappingURL=style.css.map */