* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 85%;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

.header {
<<<<<<< HEAD
=======
  background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
  height: 100vh;
>>>>>>> aaae601ddb214042d48fd064f263bd62c9a8818b
  color: #fff;
}

.header #logo {
  -webkit-animation: hover 4s infinite;
          animation: hover 4s infinite;
}

@-webkit-keyframes hover {
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  from {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes hover {
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  from {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.header .navbar-full {
  background-color: #3B1D60;
}

.header .navbar-full .navbar {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.header .navbar-full .navbar .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar-full .navbar .nav-right .language {
  font-size: 12px;
  padding-right: 20px;
}

.header .navbar-full .navbar .nav-right .language .lan-uz {
  padding-right: 10px;
  border-right: 1px solid #fff;
}

.header .navbar-full .navbar .nav-right .language .lan-en {
  padding-left: 8px;
}

.header .navbar-full .navbar .nav-right .language a {
  color: #fff;
}

.header .navbar-full .navbar .nav-right .language a:hover {
  color: #F2994A !important;
}

.header .navbar-full .navbar .nav-right .buttons {
  font-size: 12px;
}

.header .navbar-full .navbar .nav-right .buttons .btn {
  padding: 6px 15px;
  background-color: #F2994A;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.header .navbar-full .navbar .nav-right .buttons .btn:hover {
  border: 1px solid #F2994A;
  background-color: transparent;
  color: #F2994A;
}

@-webkit-keyframes click {
  from {
    -webkit-transform: translate(0, 4px);
            transform: translate(0, 4px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes click {
  from {
    -webkit-transform: translate(0, 4px);
            transform: translate(0, 4px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

.header .navbar-full .navbar .nav-right .buttons .btn:focus {
  -webkit-animation: click 0.1s forwards;
          animation: click 0.1s forwards;
}

.header .navbar-full .navbar .nav-right .buttons .sign-in {
  margin-right: 20px;
}

.header .navbar-full .navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar-full .navbar .logo img {
  width: 60%;
  height: 60%;
}

.header .navbar-full .navbar h1 {
  font-size: 25px;
  margin-left: 5px;
  color: #fff;
}

.header .navbar-full .navbar ul {
  margin-left: 300px;
}

.header .navbar-full .navbar ul li {
  display: inline-block;
  margin-right: 20px;
}

.header .navbar-full .navbar ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}

.header .navbar-full .navbar ul li a:hover {
  color: #F2994A !important;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .content_information {
  width: 85%;
  margin: auto;
  margin-left: 7rem;
  margin-top: 5rem;
}

.content .content_information h1 {
  width: 89%;
  line-height: 45px;
  font-size: 44px;
  font-family: 'Oxygen', sans-serif;
  color: #99EFD0;
  font-weight: bold;
}

.content .content_information p {
  width: 40%;
  margin-top: 0.7rem;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  color: #8476AA;
}

.content .content_information #input {
  background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
  border: 1px solid #F2994A;
  margin-top: 2rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: #99EFD0;
  outline: none;
}

.content .content_information .btn_get {
  background: #F2994A;
  -webkit-box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
          box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #F2994A;
  cursor: pointer;
}

.content .content_information .btn_get i {
  margin-left: 5px;
}

.content .content_img {
  width: 100%;
}

.content .content_img img {
  width: 90%;
  margin-left: 3rem;
  margin-top: 2rem;
}
/*# sourceMappingURL=style.css.map */